# Angular cache
.angular/cache/

# IDE and editor directories
.idea/
.vscode/

# System files
.DS_Store
.env
.env.local
.env.*.local

# Build directories
dist/
out-tsc/

# Dependencies
node_modules/

# Logs
npm-debug.log
npm-error.log
yarn-debug.log
yarn-error.log

# Coverage
coverage/

# Testing
.nyc_output/
